<!-- templates/register.html -->
{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h2>Регистрация</h2>
    <form id="register-form">
        <input type="text" id="register-username" placeholder="Имя пользователя" required>
        <input type="email" id="register-email" placeholder="Email" required>
        <input type="password" id="register-password" placeholder="Пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}

{% block scripts %}
document.getElementById('register-form').addEventListener('submit', function(event) {
    event.preventDefault();

    const data = {
        username: document.getElementById('register-username').value,
        email: document.getElementById('register-email').value,
        password: document.getElementById('register-password').value
    };

    fetch(`${apiUrl}/register`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Registration Success:', data);
        alert('Вы успешно зарегистрировались!');
    })
    .catch(error => {
        console.error('Registration Error:', error);
    });
});
{% endblock %}
